                        /* BongoCat Window */

                        body{
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                        }

main {
    position: relative;
    z-index: 0;
    /* background-color: lightblue; */
    border: 2px solid black;
    width: 50%;
    height: 30%;
}

img#bongoCat {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

img#atribute1 {
    position: absolute;
    bottom: 45%;
    left: 42%;
    width: 20%;
    height: 20%;
    transform: rotate(19deg);
}

/* footer */
footer{
    justify-content: center;
    background-color: aquamarine;
    width: 50.3%;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
a {
    color: black;
    text-decoration: none;
}